:root {
/*  ## Colors */

/* ### Primary */
--Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
--Red: hsl(0, 100%, 66%);

/* ### Neutral */
--White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(270, 3%, 87%);
--Dark-grayish-violet: hsl(279, 6%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);

/* ## Typography */
--primary-font: "Space Grotesk", sans-serif;
--sm: 1rem;
--md: 1.3rem;
--lg: 1.8rem
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--primary-font);
}
.main {
width: 100vw;
height: 100vh;
font-size: var(--md);
letter-spacing: 0.2rem;
}
.section__main:nth-child(1) {
    color: var(--White);
    height: 34vh;
    background: url('./images/bg-main-mobile.png');
    position: relative;
}
.card__section {
    width: 80%;
    max-width: 29rem;
    height: 16rem;
    padding: 2rem;
    border-radius: 0.5rem;
    position: absolute;
}
.card__section:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('./images/bg-card-front.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -4rem;
    left: 2rem;
    z-index: 1;
}
.logo__card {
    width: 6.5rem;
    height: 5rem;
    display: block;
    background: url('./images/card-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.number__card {
    font-size: var(--lg);
    letter-spacing: 0.2rem;
    line-height: 5rem;
}
.div__card > div{
    display: flex;
    justify-content: space-between;
    font-size: var(--sm);
    padding-right: 1.8rem;
}
.card__section:nth-child(2) {
    background: url('./images/bg-card-back.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 2rem;
    top: 2rem;
    padding: 7.2rem 3rem 0 0;

}
.cvc__card {
    font-size: var(--sm);
    text-align: end;
}
.section__main:nth-child(2) {

}
.div__section {
}
.form__div {
}
.name__form > p {

}
.field__error {

}
.cardNumber__form {

}
.field__error {

}
.div__form {

}
.date__div {

}
.field__error {

}
.cvc__form {

}
.field__error {

}
.btn {

}